<template>
    <div>
        <div class="container pt-2 pb-2">
            <div class="row">
                <div class="col-md-8 offset-md-2 row">
                    <div class="col-md-10 form-group">
                        <label for="search" class="sr-only"></label>
                        <input
                            type="text"
                            name="searchTerm"
                            id="searchTerm"
                            class="form-control"
                            placeholder="Search"
                            v-model="searchTerm"
                            v-on:keyup.enter="onEnter"
                        />
                    </div>
                    <div class="col-md-2">
                        <router-link
                            :to="'/search/' + this.searchTerm"
                            tag="button"
                            ref="searchBtn"
                            class="btn btn-secondary btn-block"
                        >
                            <span>Search</span>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            searchTerm: null,
        };
    },
    created() {
        this.searchTerm = this.$route.params.searchTerm;
    },
    methods: {
        onEnter: function () {
            this.$refs.searchBtn.$el.click();
        },
    },
};
</script>