<template>
    <div>
        <div v-if="loading">
            <h3 class="text-center">Searching...</h3>
        </div>
        <div v-else>
            <h2>Search results</h2>
            <div class="row mb-4" v-for="row in rows" :key="'row' + row">
                <div
                    class="col d-flex align-items-strech"
                    v-for="(video, column) in videosInRow(row)"
                    :key="'row' + row + column"
                >
                    <video-list-item v-bind="video"></video-list-item>
                </div>
                <div class="col" v-for="p in placeholdersInRow(row)" :key="'placeholder' + row + p"></div>
            </div>
        </div>
    </div>
</template>

<script>
import VideoListItem from "./VideoListItem";
export default {
    components: {
        VideoListItem,
    },
    props: {
        searchTerm: String,
    },
    data() {
        return {
            loading: false,
            videos: null,
            columns: 3,
        };
    },
    created() {
        this.loading = true;
        const request = axios
            .get(`/api/videos/search/${this.$route.params.searchTerm}`)
            .then((response) => {
                this.videos = response.data.items;
                this.loading = false;
            });
    },
    computed: {
        rows() {
            return this.videos == null
                ? 0
                : Math.ceil(this.videos.length / this.columns);
        },
        searchResults() {
            const request = axios
                .get(`/api/videos/search/${this.$route.params.searchTerm}`)
                .then((response) => {
                    this.videos = response.data.items;
                    this.loading = false;
                });
        },
    },
    methods: {
        videosInRow(row) {
            return this.videos.slice(
                (row - 1) * this.columns,
                row * this.columns
            );
        },
        placeholdersInRow(row) {
            return this.columns - this.videosInRow(row).length;
        },
    },
};
</script>