<template>
    <div class="card w-100">
        <img :src="snippet.thumbnails.medium.url" :alt="snippet.title" class="card-img-top" />
        <div class="card-body">
            <h5 class="card-title">{{ snippet.title }}</h5>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        snippet: Object,
    },
};
</script>